:root {
  --darker-blue: rgb(25, 20, 101, 1);
  --darker-blue-transpaent: rgb(25, 20, 101, 0.7);
  --dark-blue: rgba(33, 26, 144, 1);
  --blue: rgba(44, 21, 208, 1);
  --light-blue: rgb(190, 182, 249);
  --purple: rgba(124, 51, 185, 1);
  --white: rgb(255, 255, 255);
  --transparent: rgba(0, 0, 0, 0);
  --light-gray: rgb(226, 226, 226);
  --darker-blue-even-transpaent: rgb(25, 20, 101, 0.2);

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --navy: #000080;
  --cyan: #9ee0eb;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

html {
  /* This is needed so that the targets of the navbar links aren't covered by the navbar  */
  scroll-padding-top: 50px;
}

.section-below-navbar {
  /* This is needed for the top of the page where the scroll-padding-top doesn't exist */
  padding-top: 50px;
}

.logo {
  display: flex;
  background-color: white;
}

.centered-container {
  text-align: center;
}

.centered-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.large-first-word {
  font-size: x-large;
}

.alternating-background-container:nth-child(2n + 1) {
  /* Taken from HW4 example and change colors according to presonal preference */
  background: var(--dark-blue);
  background: linear-gradient(
    34deg,
    var(--dark-blue) 6%,
    var(--blue) 46%,
    var(--purple) 91%
  );
  color: var(--white);
}

.alternating-background-container:nth-child(2n) {
  /* Taken from HW4 example and change colors according to presonal preference */
  background: var(--cyan);
  color: var(--black);
}

.content-container {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
  display: inline-block;
}

.side-text {
  display: inline-block;
  width: 75%;
}

.side-content {
  margin: 20px;
}

.card-body {
  background-color: var(--white);
  color: var(--black);
}

.card-title {
  text-align: center;
}
